In [1]:
"""
@author: swaathi
"""

'\n@author: swaathi\n'

In [2]:
import pandas as pd

In [3]:
raw_abortion_df = pd.read_json('abortionRaw.json')

In [4]:
raw_abortion_df.head()

       country                            legality    pop2022
0  Afghanistan              To save a woman's life  41128.771
1      Albania                      No restriction   2842.321
2      Algeria  To preserve physical/mental health  44903.225
3      Andorra               Prohibited altogether     79.824
4       Angola               Prohibited altogether  35588.987

In [5]:
raw_abortion_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   191 non-null    object
 1   legality  191 non-null    object
 2   pop2022   191 non-null    float64
dtypes: float64(1), object(2)
memory usage: 4.6+ KB

In [6]:
raw_abortion_df['legality'].unique()

array(["To save a woman's life", 'No restriction',
       'To preserve physical/mental health', 'Prohibited altogether',
       'To preserve physical health',
       'To preserve health/on socioeconomic grounds', 'Varies by state'],
      dtype=object)

In [7]:
raw_abortion_df[raw_abortion_df['legality'] == 'Varies by state']

                      country         legality     pop2022
182  United States of America  Varies by state  338289.857

In [28]:
grouped_df = raw_abortion_df.groupby(['legality']).size()

In [29]:
grouped_df

legality
No restriction                                 56
Prohibited altogether                          25
To preserve health/on socioeconomic grounds    13
To preserve physical health                    36
To preserve physical/mental health             23
To save a woman's life                         37
Varies by state                                 1
dtype: int64

In [30]:
abortion_df = raw_abortion_df[['country', 'legality']]

In [31]:
abortion_df.head()

       country                            legality
0  Afghanistan              To save a woman's life
1      Albania                      No restriction
2      Algeria  To preserve physical/mental health
3      Andorra               Prohibited altogether
4       Angola               Prohibited altogether

In [32]:
abortion_df.to_json('../Data_Analysis/cleanedAbortiondata.json', orient='records')