In [3]:
"""
@author: swaathi
"""

'\n@author: swaathi\n'

In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv('HDI_schooling data.csv', sep=',', encoding='latin-1')

In [4]:
raw_df.head()

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank.1,Unnamed: 9
0,1,Norway,0.957,82.4,18.1,12.9,"66,494",7,1,NaN
1,2,Ireland,0.955,82.3,18.7,12.7,"68,371",4,3,NaN
2,2,Switzerland,0.955,83.8,16.3,13.4,"69,394",3,2,NaN
3,4,"Hong Kong, China (SAR)",0.949,84.9,16.9,12.3,"62,985",7,4,NaN
4,4,Iceland,0.949,83.0,19.1,12.8,"54,682",14,4,NaN

In [5]:
raw_df.columns

Index(['HDI rank', 'Country', 'Human Development Index (HDI) ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income (GNI) per capita',
       'GNI per capita rank minus HDI rank', 'HDI rank.1', 'Unnamed: 9'],
      dtype='object')

Not all of these are required for the analysis. Hence, certain columns are selected.

In [6]:
hdi_df = raw_df[['Country','Human Development Index (HDI) ', 'Expected years of schooling', 'Gross national income (GNI) per capita','HDI rank']]

In [7]:
hdi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 189 non-null    object
 1   Human Development Index (HDI)           189 non-null    float64
 2   Expected years of schooling             189 non-null    float64
 3   Gross national income (GNI) per capita  189 non-null    object
 4   HDI rank                                189 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 7.5+ KB

We can see that there are no null records in the dataset

In [9]:
hdi_df.to_json('../Data_Analysis/cleanedHDIdata.json', orient='records')