In [17]:
"""
@author: swaathi
"""

'\n@author: swaathi\n'

In [18]:
import pandas as pd

In [19]:
#import all datasets
#birth rate
brate_df = pd.read_json('../Data_Analysis/cleanedBirthRate.json')

#HDI
HDI_df = pd.read_json('../Data_Analysis/cleanedHDIdata.json')

#abortion rate
abortion_df = pd.read_json('../Data_Analysis/cleanedAbortiondata.json')

#marriage age
mrg_df = pd.read_json('../Data_Analysis/cleanedMrgdata.json')

In [20]:
brate_df.head()

   Year                 Region      Country  Birth rate
0  2001  Eastern Mediterranean  Afghanistan       167.2
1  2002  Eastern Mediterranean  Afghanistan       177.6
2  2003  Eastern Mediterranean  Afghanistan       151.8
3  2004  Eastern Mediterranean  Afghanistan       135.7
4  2005  Eastern Mediterranean  Afghanistan       117.4

In [21]:
avg_brate = brate_df.groupby(['Country','Region'])['Birth rate'].mean()
avg_brate = avg_brate.reset_index(name = 'Avg. Birth rate')

In [22]:
avg_brate.head()

       Country                 Region  Avg. Birth rate
0  Afghanistan  Eastern Mediterranean       114.591667
1      Albania                 Europe        18.318750
2      Algeria                 Africa         9.881818
3      Andorra                 Europe         6.375000
4       Angola                 Africa       167.290000

In [23]:
merged_df = pd.merge(HDI_df, avg_brate, on='Country')

In [24]:
abortion_df = abortion_df.rename(columns = {'country': 'Country'})

In [25]:
merged_df = pd.merge(abortion_df, merged_df, on='Country')

In [26]:
merged_df = pd.merge(mrg_df, merged_df, on='Country')

In [27]:
merged_df.head()

,Country,Avg. age,legality,Human Development Index (HDI),Expected years of schooling,Gross national income (GNI) per capita,HDI rank,Region,Avg. Birth rate
0,Afghanistan,21.500000,To save a woman's life,0.511,10.2,"2,229",169,Eastern Mediterranean,114.591667
1,Albania,24.200001,No restriction,0.795,14.7,"13,998",69,Europe,18.318750
2,Algeria,28.200001,To preserve physical/mental health,0.748,14.6,"11,174",91,Africa,9.881818
3,Angola,21.500000,Prohibited altogether,0.581,11.8,"6,104",148,Africa,167.290000
4,Antigua and Barbuda,25.700001,To save a woman's life,0.778,12.8,"20,895",78,Americas,39.706667

In [28]:
merged_df= merged_df.rename(columns = {'Avg. age': 'Avg. Marriage age', 'legality': 'Abortion Legality'})

In [29]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 173
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 174 non-null    object
 1   Avg. Marriage age                       174 non-null    float64
 2   Abortion Legality                       174 non-null    object
 3   Human Development Index (HDI)           174 non-null    float64
 4   Expected years of schooling             174 non-null    float64
 5   Gross national income (GNI) per capita  174 non-null    object
 6   HDI rank                                174 non-null    int64
 7   Region                                  174 non-null    object
 8   Avg. Birth rate                         174 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 13.6+ KB

In [30]:
merged_df.describe()

,Avg. Marriage age,Human Development Index (HDI),Expected years of schooling,HDI rank,Avg. Birth rate
count,174.000000,174.000000,174.000000,174.000000,174.000000
mean,24.885632,0.719684,13.291379,95.655172,56.907697
std,3.830026,0.151652,3.013090,55.303749,46.691709
min,17.200001,0.394000,5.000000,1.000000,1.773684
25%,21.900000,0.595750,11.400000,48.250000,17.927126
50%,24.000000,0.739000,13.100000,96.000000,47.208333
75%,27.900000,0.828750,15.200000,143.750000,83.968269
max,33.799999,0.957000,22.000000,189.000000,187.460000

In [32]:
merged_df.to_json('../Data_Analysis/mergedDatasets.json', orient='records')